# Download Instruments to use with Breeze API

#### https://directlink.icicidirect.com/NewSecurityMaster/SecurityMaster.zip

In [53]:
import pandas as pd
import urllib
import zipfile
import warnings
warnings.filterwarnings('ignore')

In [54]:
def dowonload_instruments():
    url = 'https://directlink.icicidirect.com/NewSecurityMaster/SecurityMaster.zip'
    urllib.request.urlretrieve(url, "Data/SecurityMaster.zip")        
    with zipfile.ZipFile("Data/SecurityMaster.zip", 'r') as zip_ref:
        zip_ref.extractall('Data')
    print('instruments downloaded')

In [55]:
dowonload_instruments()

instruments downloaded

In [64]:
scrip = pd.read_csv("Data/FONSEScripMaster.txt")
scrip = scrip[['Token', 'InstrumentName', 'ShortName', 'Series','ExpiryDate', 'StrikePrice', 'OptionType', 'ExchangeCode']]

In [65]:
scrip.head()

,Token,InstrumentName,ShortName,Series,ExpiryDate,StrikePrice,OptionType,ExchangeCode
0,72312,FUTSTK,VOLTAS,FUTURE,25-May-2023,0.0,XX,VOLTAS
1,72313,FUTSTK,WHIIND,FUTURE,25-May-2023,0.0,XX,WHIRLPOOL
2,72314,FUTSTK,WIPRO,FUTURE,25-May-2023,0.0,XX,WIPRO
3,72315,FUTSTK,CADHEA,FUTURE,25-May-2023,0.0,XX,ZYDUSLIFE
4,72248,FUTSTK,MANAFI,FUTURE,25-May-2023,0.0,XX,MANAPPURAM

In [66]:
#scrip = scrip[scrip.ShortName == 'NIFTY']
scrip = scrip[scrip.Series == 'OPTION']
scrip.ExpiryDate = pd.to_datetime(scrip.ExpiryDate)
scrip['ExpiryDate'] = [x.date() for x in scrip.ExpiryDate]
scrip = scrip.sort_values(by=["ExpiryDate"],ascending=True)
scrip.head(10)

,Token,InstrumentName,ShortName,Series,ExpiryDate,StrikePrice,OptionType,ExchangeCode
12369,48222,OPTIDX,NIFFIN,OPTION,2023-03-21,17700.0,PE,NIFTY FINANCIAL
19890,56868,OPTIDX,NIFSEL,OPTION,2023-03-21,4650.0,PE,NIFTY MIDCAP
19891,56869,OPTIDX,NIFSEL,OPTION,2023-03-21,4700.0,CE,NIFTY MIDCAP
19892,56870,OPTIDX,NIFSEL,OPTION,2023-03-21,4700.0,PE,NIFTY MIDCAP
19893,56871,OPTIDX,NIFSEL,OPTION,2023-03-21,4750.0,CE,NIFTY MIDCAP
19894,56872,OPTIDX,NIFSEL,OPTION,2023-03-21,4750.0,PE,NIFTY MIDCAP
19895,56873,OPTIDX,NIFSEL,OPTION,2023-03-21,4800.0,CE,NIFTY MIDCAP
19896,56874,OPTIDX,NIFSEL,OPTION,2023-03-21,4800.0,PE,NIFTY MIDCAP
19897,56875,OPTIDX,NIFSEL,OPTION,2023-03-21,4850.0,CE,NIFTY MIDCAP
19898,56876,OPTIDX,NIFSEL,OPTION,2023-03-21,4850.0,PE,NIFTY MIDCAP

In [61]:
scrip = scrip[scrip.Series == 'FUTURE']
#scrip = scrip[scrip.ShortName == 'CNXBAN']
scrip.head(10)

,Token,InstrumentName,ShortName,Series,ExpiryDate,StrikePrice,OptionType,ExchangeCode
0,72312,FUTSTK,VOLTAS,FUTURE,25-May-2023,0.0,XX,VOLTAS
1,72313,FUTSTK,WHIIND,FUTURE,25-May-2023,0.0,XX,WHIRLPOOL
2,72314,FUTSTK,WIPRO,FUTURE,25-May-2023,0.0,XX,WIPRO
3,72315,FUTSTK,CADHEA,FUTURE,25-May-2023,0.0,XX,ZYDUSLIFE
4,72248,FUTSTK,MANAFI,FUTURE,25-May-2023,0.0,XX,MANAPPURAM
5,72249,FUTSTK,MARLIM,FUTURE,25-May-2023,0.0,XX,MARICO
6,72250,FUTSTK,MARUTI,FUTURE,25-May-2023,0.0,XX,MARUTI
7,72251,FUTSTK,UNISPI,FUTURE,25-May-2023,0.0,XX,MCDOWELL-N
8,72252,FUTSTK,MCX,FUTURE,25-May-2023,0.0,XX,MCX
9,72253,FUTSTK,METHEA,FUTURE,25-May-2023,0.0,XX,METROPOLIS

In [62]:
scrip.ShortName.unique()

array(['VOLTAS', 'WHIIND', 'WIPRO', 'CADHEA', 'MANAFI', 'MARLIM',
       'MARUTI', 'UNISPI', 'MCX', 'METHEA', 'MAXFIN', 'MAHGAS', 'MOTSUM',
       'MPHLIM', 'MRFTYR', 'MUTFIN', 'NATALU', 'INFEDG', 'NAVFLU',
       'NESIND', 'NATMIN', 'NTPC', 'OBEREA', 'ORAFIN', 'ONGC', 'PAGIND',
       'PIRENT', 'PERSYS', 'PETLNG', 'POWFIN', 'PIDIND', 'PIIND',
       'PUNBAN', 'POLI', 'POWGRI', 'PVRLIM', 'RAIIND', 'RAMCEM', 'RBLBAN',
       'RURELE', 'RELIND', 'SAIL', 'SBICAR', 'SBILIF', 'STABAN', 'SHRCEM',
       'SHRTRA', 'SIEMEN', 'SRF', 'SUNPHA', 'SUNTV', 'SYNINT', 'TATCHE',
       'TATCOM', 'TATGLO', 'TATMOT', 'TATPOW', 'TATSTE', 'TCS', 'TECMAH',
       'TITIND', 'TORPHA', 'TRENT', 'TVSMOT', 'UNIBR', 'ULTCEM', 'UNIP',
       'VEDLIM', 'ZEEENT', 'EXIIND', 'FEDBAN', 'GAIL', 'GLEPHA', 'GMRINF',
       'GNFC', 'GODCON', 'GODPRO', 'GRANUL', 'GRASIM', 'GUJGA', 'HINAER',
       'HAVIND', 'HCLTEC', 'HDFC', 'HDFAMC', 'HDFBAN', 'HDFSTA', 'HERHON',
       'HINDAL', 'HINCOP', 'HINPET', 'HINLEV', 'INDHO', 'ICIBAN',
       'ICILOM', 'ICIPRU', 'IDECEL', 'IDFC', 'IDFBAN', 'INDEN', 'INDGAS',
       'INDHOT', 'INDCEM', 'INDMAR', 'INTAVI', 'INDBA', 'BHAINF',
       'INFTEC', 'INTDES', 'INDOIL', 'IPCLAB', 'INDRAI', 'ITC', 'JINSP',
       'JKCEME', 'JSWSTE', 'JUBFOO', 'KOTMAH', 'LTFINA', 'DRLAL',
       'LAULAB', 'LICHF', 'LARTOU', 'LTINFO', 'LTTEC', 'LUPIN', 'MAHMAH',
       'MAHFIN', 'TORPOW', 'CANHOM', 'CHAFER', 'CHOINV', 'CIPLA',
       'COALIN', 'NIITEC', 'COLPAL', 'CONCOR', 'CORINT', 'CROGR',
       'CITUNI', 'CUMIND', 'DABIND', 'ODICEM', 'DEENIT', 'DELCOR',
       'DIVLAB', 'DIXTEC', 'DLFLIM', 'DRREDD', 'EICMOT', 'ESCORT',
       'NIFFIN', 'NIFSEL', 'BHAAIR', 'BHEL', 'BIOCON', 'BOSLIM', 'BHAPET',
       'BRIIND', 'KPITEC', 'CANBAN', 'HONAUT', 'ALKLAB', 'AMBCE',
       'APOHOS', 'APOTYR', 'ASHLEY', 'ASIPAI', 'ASTPOL', 'ATUL', 'AUSMA',
       'AURPHA', 'AXIBAN', 'BAAUTO', 'BAFINS', 'BAJFI', 'BALIND',
       'BALCHI', 'BANBAN', 'BANBAR', 'BATIND', 'BHAELE', 'BERPAI',
       'BHAFOR', 'FIRSOU', 'ADIFAS', 'ACC', 'ADAENT', 'ADAPOR', 'CNXBAN',
       'NIFTY', 'AARIND', 'ABB', 'ABBIND', 'ADICAP'], dtype=object)

In [63]:
scrip.ExpiryDate.unique()

array(['25-May-2023', '27-Apr-2023', '29-Mar-2023', '28-Mar-2023',
       '11-Apr-2023', '18-Apr-2023', '21-Mar-2023', '03-Apr-2023'],
      dtype=object)

In [ ]:
def get_nearest_expiry_opt(index_name):
    global scrip
    scrip = scrip[scrip.ShortName == index_name]
    scrip = scrip[scrip.Series == 'OPTION']
    scrip.ExpiryDate = pd.to_datetime(scrip.ExpiryDate)
    scrip['ExpiryDate'] = [x.date() for x in scrip.ExpiryDate]
    return sorted(scrip.ExpiryDate)[0]

def get_nearest_expiry_fut(index_name):
    global scrip
    scrip = scrip[scrip.ShortName == index_name]
    scrip = scrip[scrip.Series == 'FUTURE']
    scrip.ExpiryDate = pd.to_datetime(scrip.ExpiryDate)
    scrip['ExpiryDate'] = [x.date() for x in scrip.ExpiryDate]
    return sorted(scrip.ExpiryDate)[0]

In [ ]:
def get_icici_code(stock_code):
    return breeze.get_names(exchange_code = 'NSE',stock_code = stock_code).get('isec_stock_code')

In [67]:
#get_nearest_expiry_fut("INFTEC")
get_nearest_expiry_opt("INFTEC")

datetime.date(2023, 3, 29)

In [68]:
scrip = pd.read_csv("NSEScripMaster.txt")
scrip = scrip[[' "ShortName"',' "CompanyName"', ' "ExchangeCode"', ' "Series"']]
scrip.head()

   "ShortName"               "CompanyName"  "ExchangeCode"  "Series"
0       ALFLAV  ALFA LAVAL (INDIA) LIMITED       ALFALAVAL        EQ
1       AMAREM           AMAR REMEDIES LTD            AMAR        BE
2       ANDBAN                 ANDHRA BANK      ANDHRABANK        EQ
3       BANRAJ   THE BANK OF RAJASTHAN LTD       BANKRAJAS        EQ
4       BELCER       BELL CERAMICS LIMITED      BELCERAMIC        EQ

In [69]:
scrip = pd.read_csv("NSEScripMaster.txt")
scrip = scrip[[' "ShortName"',' "CompanyName"', ' "ExchangeCode"', ' "Series"']]
columnsname1 = [' "ShortName"',' "CompanyName"', ' "ExchangeCode"', ' "Series"']
columnsname2 = ['ShortName','CompanyName', 'ExchangeCode', 'Series']
rename_columns = dict(zip(columnsname1,columnsname2))
scrip.rename(columns=rename_columns, inplace=True)
scrip = scrip[scrip.Series == 'EQ']
#scrip = scrip[scrip.ExchangeCode == 'HDFCBANK']
scrip.head()

  ShortName                 CompanyName ExchangeCode Series
0    ALFLAV  ALFA LAVAL (INDIA) LIMITED    ALFALAVAL     EQ
2    ANDBAN                 ANDHRA BANK   ANDHRABANK     EQ
3    BANRAJ   THE BANK OF RAJASTHAN LTD    BANKRAJAS     EQ
4    BELCER       BELL CERAMICS LIMITED   BELCERAMIC     EQ
5    BLOPLA              BLOW PLAST LTD    BLOWPLAST     EQ

In [70]:
ExchangeCodes = ['ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BPCL', 'BHARTIARTL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'HDFC', 'ICICIBANK', 'ITC', 'INDUSINDBK', 'INFY', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NTPC', 'NESTLEIND', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SUNPHARMA', 'TCS', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TECHM', 'TITAN', 'UPL', 'ULTRACEMCO', 'WIPRO']

In [71]:
ICICI_Codes = []
for i in range(0,len(ExchangeCodes)):
    s = scrip.loc[scrip.ExchangeCode == ExchangeCodes[i]]
    ICICI_Codes.append(s.iloc[0,0])
    i = i + 1

In [72]:
for i in range(0,len(ExchangeCodes)):
    print(ExchangeCodes[i], ICICI_Codes[i], sep='-')

ADANIENT-ADAENT
ADANIPORTS-ADAPOR
APOLLOHOSP-APOHOS
ASIANPAINT-ASIPAI
AXISBANK-AXIBAN
BAJAJ-AUTO-BAAUTO
BAJFINANCE-BAJFI
BAJAJFINSV-BAFINS
BPCL-BHAPET
BHARTIARTL-BHAAIR
BRITANNIA-BRIIND
CIPLA-CIPLA
COALINDIA-COALIN
DIVISLAB-DIVLAB
DRREDDY-DRREDD
EICHERMOT-EICMOT
GRASIM-GRASIM
HCLTECH-HCLTEC
HDFCBANK-HDFBAN
HDFCLIFE-HDFSTA
HEROMOTOCO-HERHON
HINDALCO-HINDAL
HINDUNILVR-HINLEV
HDFC-HDFC
ICICIBANK-ICIBAN
ITC-ITC
INDUSINDBK-INDBA
INFY-INFTEC
JSWSTEEL-JSWSTE
KOTAKBANK-KOTMAH
LT-LARTOU
M&M-MAHMAH
MARUTI-MARUTI
NTPC-NTPC
NESTLEIND-NESIND
ONGC-ONGC
POWERGRID-POWGRI
RELIANCE-RELIND
SBILIFE-SBILIF
SBIN-STABAN
SUNPHARMA-SUNPHA
TCS-TCS
TATACONSUM-TATGLO
TATAMOTORS-TATMOT
TATASTEEL-TATSTE
TECHM-TECMAH
TITAN-TITIND
UPL-UNIP
ULTRACEMCO-ULTCEM
WIPRO-WIPRO